.school_meals {
  width: 550px;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 320px;
  align-items: center;
  &_header {
    h2 {
      margin-top: 0px;
      text-align: center;
      font-weight: 800;
      color: #676a79;
      text-shadow: 1px 1px 1px #fff;
    }
  }
  &_btn {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 0;
    height: 40px;
    text-align: center;
    color: #006fe6;
    font-weight: 700;
    box-shadow: -5px -5px 5px #fff, 5px 5px 5px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    &_today {
      font-size: 13px;
    }
    &_icon {
      font-size: 20px;
    }
    &:hover {
      box-shadow: -2px -2px 2px #fff, 2px 2px 2px #babecc;
    }

    &:active {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    }
    &:focus {
      outline: none;
    }
    &_area {
      width: 300px;
      margin-top: 10px;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
    }
  }
  &_wave {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  &_star {
    position: absolute;
    width: 80%;
    left: 20px;
    top: 10px;
  }
  &_list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    &_title {
      color: #3f3f3f;
      font-weight: 800;
      font-size: 16px;
      display: flex;
      display: -webkit-flex;
      text-shadow: 1px 1px 0 #fff;
      justify-content: center;
      align-items: center;
    }
    &_content {
      color: #696b72;
      font-size: 13px;
      font-weight: 500;
      line-height: 23px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      width: 100%;
      word-break: break-all;
      height: 135px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &_box {
      width: 135px;
      border-radius: 20px;
      height: 160px;
      position: relative;
      padding: 13px;
      text-align: center;
      color: #babecc;
      font-weight: bold;
      box-shadow: -5px -5px 5px #fff, 5px 5px 5px #babecc;
      transition: all 0.2s ease-in-out;
      font-size: 12px;
      font-weight: 600;
      background-color: #ebecf0;
      text-shadow: 1px 1px 0 #fff;
      &:hover {
        box-shadow: -2px -2px 2px #fff, 2px 2px 2px #babecc;
      }

      &:active {
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
      }
    }
  }
  &_footer {
    margin-top: 15px;
    font-size: 13px;
    color: #706868;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    justify-content: center;
    span {
      margin-left: 20px;
      margin-right: 20px;
      text-shadow: 1px 1px 0 #fff;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    a {
      color: #706868;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
