.school_meals {
  width: 600px;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 330px;
  &_header {
    h2 {
      text-align: center;
      margin-bottom: 0px;
    }
  }
  &_btn {
    flex-grow: 1;
    max-width: 186px;
    border: none;
    cursor: pointer;
    height: 28px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    font-weight: 700;
    &:focus {
      outline: none;
    }
    &_area {
      margin-top: 30px;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
    }
  }
  &_wave {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  &_star {
    position: absolute;
    width: 80%;
    left: 20px;
    top: 10px;
  }
  &_title {
    font-size: 17px;
    font-weight: 800;
    margin-top: 0;
    text-align: center;
    color: #260074;
  }
  &_list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    &_title {
      color: #fff;
      font-weight: 800;
      font-size: 16px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      img {
        width: 20px;
      }
      span {
        margin-left: 5px;
      }
    }
    &_content {
      color: rgb(211, 211, 211);
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      height: calc(100% - 30px);
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      width: 100%;
      word-break: break-all;
    }
    &_box {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
      flex-grow: 1;
      max-width: 160px;
      border-radius: 20px;
      overflow: hidden;
      height: 170px;
      position: relative;
      padding: 13px;
    }
    &_1 {
      background-color: #611cee;
    }
    &_2 {
      background-color: #4904d8;
    }
    &_3 {
      background-color: #3a00b4;
    }
  }
  &_footer {
    margin-top: 15px;
    font-size: 13px;
    color: #611cee;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    justify-content: center;
    span {
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    a {
      color: #611cee;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
