.search {
  width: 340px;
  position: relative;
  &_back {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #006fe6;
    font-weight: 700;
    box-shadow: -3.5px -3.5px 3.5px #fff, 3.5px 3.5px 3.5px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    &:hover {
      box-shadow: -2px -2px 2px #fff, 2px 2px 2px #babecc;
    }
    &:active {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
    color: #676a79;
    text-shadow: 1px 1px 1px #fff;
  }
  &_box {
    padding: 25px 15px 15px 15px;
    text-shadow: 1px 1px 0 #fff;
    margin: 0 auto;
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 400px;
    flex-direction: column;
  }
  &_form {
    width: 100%;
    max-width: 330px;
    height: 33px;
    display: flex;
    display: -webkit-flex;
    position: relative;
  }
  &_input {
    border-radius: 10px;
    height: 40px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    font-size: 14px;
    padding: 9px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    &:focus {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    }
    &::placeholder {
      font-weight: 700;
      color: gray;
    }
  }
  &_btn {
    cursor: pointer;
    outline: none;
    position: absolute;
    border-radius: 11px;
    border: none;
    background-color: #7e40ff;
    width: 33px;
    height: 33px;
    img {
      width: 23px;
    }
  }
  &_content {
    width: 100%;
    max-width: 270px;
    overflow-y: scroll;
    margin-top: 30px;
    padding: 20px;
    background-color: #ebecf0;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: -3.5px -3.5px 3.5px #fff, 3.5px 3.5px 3.5px #babecc;
    min-height: 300px;
    &:hover {
      box-shadow: -2px -2px 2px #fff, 2px 2px 2px #babecc;
    }
    &_span {
      color: #ccc;
      font-size: 17px;
      font-weight: 800;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
    }
    img {
      margin: 0 auto;
      margin-top: 30px;
      width: 60px;
      display: block;
    }
  }
}
